/* custom properties */
:root {
	--primary-text-color: rgba(33, 33, 33, 1);
	--secondary-text-color: rgba(117, 117, 117, 1);
	--activation-color: rgba(33, 150, 243, 1);
	--white-text-color: rgba(255, 255, 255, 1);
	--secondary-background-color: rgba(236, 236, 236, 1);
}

/* page */
body {
	color: var(--primary-text-color);
	background-color: rgba(255, 255, 255, 1);
	font-family: Roboto;
}
.list {
	list-style: none;
}

/* site-nav */

.site-nav .link {
	text-decoration: none;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: var(--primary-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
	color: var(--activation-color);
}
.site-nav .link.current {
	color: var(--activation-color);
}
.hide-title {
	visibility: hidden;
}

/* auth-nav */
.auth-nav .link {
	color: var(--secondary-text-color);
	text-decoration: none;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
}
.auth-nav .link:hover,
.auth-nav .link:focus {
	color: var(--activation-color);
}

/* hero */
.hero .hero-title {
	color: var(--white-text-color);
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 30px;
}
.hero .hero-button {
	color: var(--white-text-color);
	background-color: var(--activation-color);
	cursor: pointer;
	font-weight: 700;
	font-size: 16px;
	line-height: 30px;
}

/* our advantages */
.our-advantages .title {
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 42px;
}
.our-advantages .sub-title {
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
}
.our-advantages .text {
	color: var(--secondary-text-color);
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
}

/* our-work */
.our-work .title {
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 42px;
}

/* our-team */
.our-team .sub-title {
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
}

.our-team .text {
	color: var(--secondary-text-color);
	font-size: 16px;
	line-height: 19px;
}

/* footer */
.site-footer .color-adress {
	color: var(--white-text-color);
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
}
.site-footer .link {
	color: var(--secondary-text-color);
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
}
/* end index.html */

/* ------------------start portfolio------------------ */

/* sub-navi */
.sub-navi .button {
	cursor: pointer;
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
}
.sub-navi .button:focus,
.sub-navi .button:hover {
	color: var(--white-text-color);
	background-color: var(--activation-color);
}

/* work-examples */
.work-examples a {
	text-decoration: none;
}
.work-examples .sub-title {
	color: var(--primary-text-color);
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 36px;
}
.work-examples .text {
	color: var(--secondary-text-color);
	font-size: 16px;
	line-height: 30px;
}
.site-footer .link {
	text-decoration: none;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
}
.site-footer .link:hover,
.site-footer .link:focus {
	color: var(--activation-color);
}
